asgiref==3.8.1
cloudinary==1.42.1
dj-database-url==2.3.0
Django==5.1.4
django-cloudinary-storage==0.3.0
django-environ==0.12.0
gunicorn==23.0.0
pillow==11.0.0
python-dotenv==1.0.1
pytz==2024.2
sqlparse==0.5.3
whitenoise==6.8.2
