{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="Auto-Sphere, Cars, Articles, Automobiles, Auto News">
  <meta name="description"
    content="Auto-Sphere is your go-to platform for the latest news and articles about cars and the automobile industry.">
  <title>{% block title %}Auto-Sphere{% endblock %}</title>


  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul class="navbar">
        <li><a href="{% url 'home' %}"
            class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a>
        </li>
        <li>
          <a href="{% url 'articles' %}"
            class="{% if request.resolver_match.url_name == 'articles' %}active{% endif %}">Articles</a>
        </li>

        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout_confirm' %}"
            class="{% if request.resolver_match.url_name == 'logout_confirm' %}active{% endif %}">
            Logout
          </a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'signup' %}" class="{% if request.resolver_match.url_name == 'signup' %}active{% endif %}">
            Sign Up
          </a>
        </li>

        <li>
          <a href="{% url 'login' %}" class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">
            Login
          </a>
        </li>
        {% endif %}

      </ul>
    </nav>
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    <p>&copy; 2024 Auto-Sphere. All rights reserved.</p>
    <div class="footer-social">
      <a href="https://facebook.com">Facebook</a>
      <a href="https://instagram.com">Instagram</a>
      <a href="https://twitter.com">X</a>
    </div>
  </footer>

</body>

</html>